.box{
    margin-top: 100px;
}
.bigbox{
    width: 100%;
}
.card{
    height: auto;
    width: 300px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    border-bottom-left-radius:50px ;
}
.imgphoto{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
footer{
    margin-top: 20px;
    
}
 /* card css */
 .button{
     text-decoration: none;

 }
 .navv{
     text-decoration: none;
 }
 /* contact css */
 .page{
     width: 500px;
     padding: 10px;
 }
 /* form css */
 .form-btn{
     width: 100%;
 }